<nav class="mainnav">
    <ul>
      <li><a class="nav-btn" href="/inicio-cliente">Inicio</a></li>
      <li><a class="nav-btn" href="/planes">Planes</a></li>
      <li><a class="nav-btn" href="/carrito">Carrito</a></li>
      <li><a class="nav-btn" href="/mis-facturas">Mis facturas</a></li>
      <li><a class="nav-btn" href="/programar-visita">Programar Visita</a></li>
      <li><a class="nav-btn" href="/informacion">Información</a></li>
      <li><a class="nav-btn" href="/logout">Cerrar sesión</a></li>
    </ul>
  </nav>