<div class="brandbar fixed-top">
    <div class="brand">
        <div><a href="/"><img class="logo-bug rounded-circle" src="/static/img/Jeremy.png"
                    alt="Logo de CostaBugOff" /></a></div>
        <div>
            <div class="brand-name">CostaBugOff</div>
            {% if brand_tag %}
            <div class="brand-tag">{{ brand_tag }}</div>
            {% endif %}
        </div>
    </div>
    <nav class="mainnav navbar navbar-expand-lg">
        <ul class="navbar-nav ms-auto mb-2">
            {% if session.get('rol') != 'Billing' %}
            {# Dropdown de Clientes #}
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                    aria-expanded="false" data-section="Clientes">
                    Clientes
                </a>
                <!-- Contenido oculto del dropdown -->
                <ul class="dropdown-menu dropdown-background">
                    <li>
                        <a class="dropdown-item" href="/">Lista de Clientes</a>
                    </li>
                    <li>
                        <a class="dropdown-item" href="{{ url_for('telefonos_clientes') }}"
                            data-section="telefonos_clientes">Teléfonos de
                            Clientes</a>
                    </li>
                    <li>
                        <a class="dropdown-item" href="{{ url_for('correos_clientes') }}"
                            data-section="correos_clientes">Correos
                            de Clientes</a>
                    </li>
                    <li>
                        <a class="dropdown-item" href="{{ url_for('direcciones_clientes') }}"
                            data-section="direcciones_clientes">Direcciones de
                            Clientes</a>
                    </li>
                </ul>
            </li>
            {# Dropdown de Recursos Humanos y Seguridad #}
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                    aria-expanded="false" data-section="Recursos Humanos y Seguridad">
                    Recursos Humanos y Seguridad
                </a>
                <!-- Contenido oculto del dropdown -->
                <ul class="dropdown-menu dropdown-background">
                    <li>
                        <a class="dropdown-item" href="{{ url_for('puestos') }}" data-section="puestos">Puestos</a>
                    </li>
                    <li>
                        <a class="dropdown-item" href="{{ url_for('empleados') }}"
                            data-section="empleados">Empleados</a>
                    </li>
                    <li>
                        <a class="dropdown-item" href="/telefonos_empleados"
                            data-section="telefonos_empleados">Teléfonos de
                            Empleados</a>
                    </li>
                    <li>
                        <a class="dropdown-item" href="{{ url_for('correos_empleados') }}"
                            data-section="correos_empleados">Correos de
                            Empleados</a>
                    </li>
                    <li>
                        <a class="dropdown-item" href="/roles_permisos" data-section="roles_permisos">Roles y
                            Permisos</a>
                    </li>
                    <li>
                        <a class="dropdown-item" href="/usuarios" data-section="usuarios">Usuarios</a>
                    </li>
                </ul>
            </li>
            {# Dropdown de Inventario y Proveedores #}
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                    aria-expanded="false" data-section="Inventario y Proveedores">
                    Inventario y Proveedores
                </a>
                <!-- Contenido oculto del dropdown -->
                <ul class="dropdown-menu dropdown-background">
                    <li>
                        <a class="dropdown-item" href="{{ url_for('productos') }}"
                            data-section="productos">Productos</a>
                    </li>
                    <li>
                        <a class="dropdown-item" href="/reabastecimiento_inventario"
                            data-section="reabastecimiento_inventario">Reabastecimiento de Inventario</a>
                    </li>
                    <li>
                        <a class="dropdown-item" href="{{ url_for('proveedores') }}"
                            data-section="proveedores">Proveedores</a>
                    </li>
                    <li>
                        <a class="dropdown-item" href="{{ url_for('telefonos_proveedores') }}"
                            data-section="telefonos_proveedores">Teléfonos de
                            Proveedores</a>
                    </li>
                    <li>
                        <a class="dropdown-item" href="{{ url_for('correos_proveedores') }}"
                            data-section="correos_proveedores">Correos de
                            Proveedores</a>
                    </li>
                </ul>
            </li>
            {# Dropdown de Operaciones #}
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                    aria-expanded="false" data-section="Operaciones">
                    Operaciones
                </a>
                <!-- Contenido oculto del dropdown -->
                <ul class="dropdown-menu dropdown-background">
                    <li>
                        <a class="dropdown-item" href="{{ url_for('plagas') }}" data-section="plagas">Plagas</a>
                    </li>
                    <li>
                        <a class="dropdown-item" href="{{ url_for('servicios') }}"
                            data-section="servicios">Servicios</a>
                    </li>
                    <li>
                        <a class="dropdown-item" href="{{ url_for('servicios_realizados') }}"
                            data-section="servicios_realizados">Servicios Realizados</a>
                    </li>
                    <li>
                        <a class="dropdown-item" href="{{ url_for('visitas') }}" data-section="visitas">Visitas</a>
                    </li>
                    <li>
                        <a class="dropdown-item" href="{{ url_for('provincias') }}"
                            data-section="provincias">Provincias</a>
                    </li>
                    <li>
                        <a class="dropdown-item" href="{{ url_for('cantones') }}" data-section="cantones">Cantones</a>
                    </li>
                    <li>
                        <a class="dropdown-item" href="{{ url_for('distritos') }}"
                            data-section="distritos">Distritos</a>
                    </li>
                </ul>
            </li>
            {% endif %}
            {# Dropdown de Facturación y Finanzas #}
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                    aria-expanded="false" data-section="Facturacion y Finanzas">
                    Facturación y Finanzas
                </a>
                <!-- Contenido oculto del dropdown -->
                <ul class="dropdown-menu dropdown-background">
                    {% if session.get('rol') != 'Billing' %}
                    <li>
                        <a class="dropdown-item" href="{{ url_for('suscripciones') }}"
                            data-section="suscripciones">Suscripciones</a>
                    </li>
                    <li>
                        <a class="dropdown-item" href="{{ url_for('metodos_pago') }}"
                            data-section="metodos_pago">Métodos de
                            Pago</a>
                    </li>
                    <li>
                        <a class="dropdown-item" href="/pagos" data-section="pagos">Pagos</a>
                    </li>
                    <li>
                        <a class="dropdown-item" href="{{ url_for('transacciones') }}"
                            data-section="transacciones">Transacciones</a>
                    </li>
                    <li>
                        <a class="dropdown-item" href="{{ url_for('detalle_transacciones') }}"
                            data-section="detalle_transacciones">Detalle de Transacciones</a>
                    </li>
                    <li>
                        <a class="dropdown-item" href="{{ url_for('suscripciones_activas') }}"
                            data-section="suscripciones_activas">Suscripciones Activas</a>
                    </li>
                    {% endif %}
                    <li>
                        <a class="dropdown-item" href="/facturas" data-section="facturas">Facturas</a>
                    </li>
                    {% if session.get('rol') != 'Empleado' %}
                    <li>
                        <a class="dropdown-item" href="{{ url_for('reporte_ventas') }}"
                            data-section="reporte_ventas">Reporte de Ventas</a>
                    </li>
                    {% endif %}
                </ul>
            </li>
        </ul>
    </nav>

    <div class="brandbar-right ps-5 ms-5">
        <div class="dropdown text-end"><a href="#" class="link-body-emphasis text-decoration-none avatar text-white"
                data-bs-toggle="dropdown" aria-expanded="false">A</a>
            <ul class="dropdown-menu text-small" style="">
                <li><a class="dropdown-item" href="#">Mi Perfil</a></li>
                <li><a class="dropdown-item" href="#">Contacto</a></li>
                <li><a class="dropdown-item" href="/logout">Cerrar sesión</a></li>
            </ul>
        </div>
    </div>
</div>
