<!doctype html>
<html lang="es">

<head>
  {% include 'plantillas/_default_head.html' %}
</head>

<body>
  <header>
    {# NAVBAR #}
    {# NAVBAR #}
    {% with brand_tag="Vista Planes" %}
    {% include 'plantillas/_navbar_factura.html' %}
    {% endwith %}
  </header>

  <main class="app mt-5 pt-4">
    <section class="panel active mt-5" data-title="Programar Visita">
      <div class="panel__header">
        <h1>Programar Visita</h1>
      </div>
      <div class="panel__body">
        <p>Próximamente: formulario para agendar una visita.</p>
      </div>
    </section>
  </main>
  {# FOOTER #}
  {# FOOTER #}
  {% include 'plantillas/_footer.html' %}


  {# SCRIPTS #}
  {# SCRIPTS #}
  {% include 'plantillas/_default_scripts.html' %}
</body>

</html>