<!doctype html>
<html lang="es">

<head>
  {% include 'plantillas/_default_head.html' %}
</head>
<!--http://127.0.0.1:5001/plagas para correr plagas -->
<!--correr con control + ñ y despues ingresar python app.py para que ande -->

<body>
  <header>
    {# NAVBAR #}
    {# NAVBAR #}
    {% with brand_tag="Vista Plagas" %}
    {% include 'plantillas/_navbar.html' %}
    {% endwith %}
  </header>

  <main class="app mt-5 pt-4">
    <section class="panel active mt-5" id="panel-plagas" data-title="Plaga">
      <div class="panel__header">
        <h1>Plagas</h1>

        <button class="btn btn--ghost btn-update-lookup">
          Actualizar por ID
        </button>
      </div>
      {# Filtro de búsqueda #}
      {# Filtro de búsqueda #}
      <div style="display:flex; flex-direction:column;">
        <div class="search-row">
          <label for="filtro-busqueda">Buscar Plaga:</label>
          <input type="text" id="filtro-busqueda" data-filter-target="plagas"
            placeholder="Escribe el nombre o el tipo de plaga." />
        </div>
      </div>
      <div class="panel__body">
        <!-- TABLA DE PLAGAS -->
        <!-- TABLA DE PLAGAS -->
        <div class="table-wrap">
          <table class="data-table" data-entity="plagas">
            <thead>
              <tr>
                <th>Tipo</th>
                <th>Nombre</th>
                <th>Descripción</th>
                <th>Unidades_necesarias</th>
                <th>Estado</th>
                <th>Borrar</th>
              </tr>
            </thead>
            <tbody>
              {% for p in plagas %}
              <tr data-id="{{ p[0] }}" data-entity="plagas">
                <td>{{ p[1] }}</td>
                <td>{{ p[2] }}</td>
                <td>{{ p[3] }}</td>
                <td>{{ p[4] }}</td>
                <td>{{ p[5] }}</td>
                <td>
                  <button class="delete-btn" onclick="deleteRow(this)">
                    <i class="fa-solid fa-trash"></i>
                  </button>
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
        <!-- FORMULARIO DE PLAGAS -->
        <!-- FORMULARIO DE PLAGAS -->
        <div class="form-card">
          <h2>Agregar Plaga</h2>
          <p class="sub">Completa los campos para agregar una plaga nueva.</p>

          <div class="field">
            <label>Nombre de plaga</label>
            <input type="text" id="plaga" placeholder="Escribe el nombre de la plaga">
          </div>
          <div class="field">
            <label for="buscar_cliente">Tipo</label>
            <input type="text" id="buscar_cliente" list="lista_clientes" placeholder="Busca el tipo de plaga"
              autocomplete="off" />
            <!-- Datalist dinámico -->
            <datalist id="lista_clientes"></datalist>

            <!-- Campo oculto para almacenar el ID del cliente seleccionado -->
            <input type="hidden" id="id_cliente_seleccionado" name="id_cliente" />
          </div>
          <div class="field">
            <label>Descripcion</label>
            <input type="text" id="descripcion" placeholder="Ingresa una descripcion">
          </div>
          <div class="field id-field">
            <label>Estado del Cliente</label>
            <select id="estado">
              <option value="">-- Selecciona una opcion --</option>
              <option value="1">Activo</option>
              <option value="2">Inactivo</option>
            </select>
          </div>

          <div class="btn-row">
            <button class="btn btn-primary" id="AgregarTelefono">Agregar plaga</button>
          </div>
        </div>
      </div>
    </section>
  </main>
  {# FOOTER #}
  {# FOOTER #}
  {% include 'plantillas/_footer.html' %}


  {# SCRIPTS #}
  {# SCRIPTS #}
  {% include 'plantillas/_default_scripts.html' %}
</body>

</html>