<!doctype html>
<html lang="es">

<head>
  {% include 'plantillas/_default_head.html' %}
</head>
<!--http://127.0.0.1:5001/metodos_pago para correr metodos_pago -->
<!--correr con control + ñ y despues ingresar python app.py para que ande -->

<body>
  <header>
    {# NAVBAR #}
    {# NAVBAR #}
    {% with brand_tag="Vista Métodos de Pago" %}
    {% include 'plantillas/_navbar.html' %}
    {% endwith %}
  </header>

  <main class="app mt-5 pt-4">
    <section class="panel active mt-5" id="panel-metodos_pago" data-title="metodosPago">
      <div class="panel__header">
        <h1>Métodos de Pago</h1>
      </div>

      {# Filtro de búsqueda #}
      {# Filtro de búsqueda #}
      <div style="display:flex; flex-direction:column;">
        <div class="search-row">
          <label for="filtro-busqueda">Buscar Metodo de pago:</label>
          <input type="text" id="filtro-busqueda" data-filter-target="metodosPago"
            placeholder="Escribe el nombre del metodo de pago." />
        </div>
      </div>
      <div class="panel__body">
        <div class="table-wrap">
          <table class="data-table" data-entity="metodosPago">
            <thead>
              <tr>
                <th>Metodo de Pago</th>
                <th>Estado</th>
                <th>Borrar</th>
              </tr>
            </thead>
            <tbody>
              {% for MP in metodos_pago %}
              <tr data-id="{{ MP[0] }}" data-entity="metodosPago">
                <td>{{ MP[1] }}</td>
                <td>{{ MP[2] }}</td>
                <td>
                  <button class="delete-btn" onclick="deleteRow(this)">
                    <i class="fa-solid fa-trash"></i>
                  </button>
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>

        <div class="form-card">
          <h2>Agregar Metodo de pago</h2>
          <p class="sub">Completa los campos para agregar un metodo de pago nuevo.</p>
          <div class="field">
            <label>Nombre del metodo de pago</label>
            <input type="text" id="nombre" placeholder="Ingresa el nombre del metodo de pago">
          </div>
          <div class="field id-field">
            <label>Estado del metodo de pago</label>
            <select id="estado">
              <option value="">-- Selecciona una opcion --</option>
              <option value="1">Activo</option>
              <option value="2">Inactivo</option>
            </select>
          </div>

          <div class="btn-row">
            <button class="btn btn-primary" id="AgregarTelefono">Agregar metodo de pago</button>
          </div>
        </div>


      </div>
    </section>
  </main>
  {# FOOTER #}
  {# FOOTER #}
  {% include 'plantillas/_footer.html' %}


  {# SCRIPTS #}
  {# SCRIPTS #}
  <script>
    const URL_API = 'http://127.0.0.1:5001/api/metodos_pago'

    function obtenerDatosFormulario() {
      return {
        id_metodo_pago: parseInt(document.getElementById('mp-id').value),
        nombre: document.getElementById('mp-nombre').value,
        id_estado: parseInt(document.getElementById('mp-estado').value),
      }
    }

    document
      .getElementById('btnAgregar')
      .addEventListener('click', async () => {
        const datos = obtenerDatosFormulario()
        if (!datos.id_metodo_pago || !datos.nombre || !datos.id_estado)
          return alert('Por favor, llena los campos requeridos.')

        try {
          const respuesta = await fetch(`${URL_API}/guardar`, {
            method: 'POST',
            headers: { 'Content-Type': 'application/json' },
            body: JSON.stringify(datos),
          })
          const resultado = await respuesta.json()

          alert(resultado.message)
          if (respuesta.ok) {
            document.getElementById('formMetodosPago').reset()
            location.reload()
          }
        } catch (error) {
          alert(
            'No se pudo conectar con el servidor de Flask en el puerto 5001.',
          )
        }
      })

    document
      .getElementById('btnActualizar')
      .addEventListener('click', async () => {
        const datos = obtenerDatosFormulario()
        if (!datos.id_metodo_pago)
          return alert('Especifica el ID del método de pago a actualizar.')

        try {
          const respuesta = await fetch(`${URL_API}/actualizar`, {
            method: 'POST',
            headers: { 'Content-Type': 'application/json' },
            body: JSON.stringify(datos),
          })
          const resultado = await respuesta.json()

          alert(resultado.message)
          if (respuesta.ok) {
            document.getElementById('formMetodosPago').reset()
            location.reload()
          }
        } catch (error) {
          alert(
            'No se pudo conectar con el servidor de Flask en el puerto 5001.',
          )
        }
      })

    document
      .getElementById('btnEliminar')
      .addEventListener('click', async () => {
        const datos = obtenerDatosFormulario()
        if (!datos.id_metodo_pago)
          return alert('Especifica el ID del método de pago a eliminar.')

        try {
          const respuesta = await fetch(
            `${URL_API}/eliminar/${datos.id_metodo_pago}`,
            {
              method: 'POST',
            },
          )
          const resultado = await respuesta.json()

          alert(resultado.message)
          if (respuesta.ok) {
            document.getElementById('formMetodosPago').reset()
            location.reload()
          }
        } catch (error) {
          alert(
            'No se pudo conectar con el servidor de Flask en el puerto 5001.',
          )
        }
      })
  </script>

  {% include 'plantillas/_default_scripts.html' %}
</body>

</html>